<header class="header">
  <div class="header__container">
    <div class="header__nav-container">
      <svg class="header-icon" width="24px" height="24px">
        <use href="../public/header/svg/sprite-logo.svg#icon-film"></use>
      </svg>
      <span class="header__page-name">Filmoteka</span>
      <a href="../index.html" class="page__home">HOME</a>
      <a href="../my-library.html" class="page__my-library current">MY LIBRARY</a>
    </div>
    <div class="header__button-container">
      <button class="header-button">WATCHED</button>
      <button class="header-button">QUEUE</button>
    </div>
  </div>
</header>