<header class="header">
  <div class="header__container">
    <div class="header__nav-container">
      <svg class="header-icon" width="24px" height="24px">
        <use href="./img/svg/symbol-defs.svg#icon-film"></use>
      </svg>
      <a href="./">
        <span class="header__page-name">Filmoteka</span>
      </a>
      <a href="./" class="page__home nav-link">Home</a>
      <a href="./my-library.html" class="nav-link page__my-library current">My library</a>
    </div>
    <div class="header__button-container">
      <button class="header-button js-watched">WATCHED</button>
      <button class="header-button js-queue">QUEUE</button>
    </div>
  </div>
</header>