<ul class="pagination-container container">
  <li>
    <button class="pagination-btn prev">&#8592;</button>
  </li>
  <li>
    <button class="pagination-btn page">1</button>
  </li>
  <li>
    <button class="pagination-btn page">2</button>
  </li>
  <li>
    <button class="pagination-btn page">3</button>
  </li>
  <li>
    <button class="pagination-btn page">4</button>
  </li>
  <li>
    <button class="pagination-btn page">5</button>
  </li>
  <li>
    <button class="pagination-btn next">&#8594;</button>
  </li>
</ul>