.header {
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-white);
  font-weight: 500;
  background-image: url(../img/my-library-header/my-library-bcg-img-mobil-1x.jpg);
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/my-library-header/my-library-bcg-img-mobil-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../img/my-library-header/my-library-bcg-img-table-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/my-library-header/my-library-bcg-img-table-2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../img/my-library-header/my-library-bcg-img-laptop1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/my-library-header/my-library-bcg-img-laptop2x.jpg);
    }
  }
}

.header__container {
  width: 320px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px 62px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-bottom: 60px;
    padding-right: 33px;
    padding-left: 31px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.header__nav-container {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  margin-bottom: 60px;
  width: 100%;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.header__page-name {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 30px;
    margin-left: 8px;
  }
}

.header__page-name:hover,
.header__page-name:focus {
  color: var(--accent-yellow);
}

.page__home {
  margin-right: 40px;
  margin-left: 112px;

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.nav-link {
  text-transform: uppercase;
}

.page__my-library.current {
  border-bottom: 3px solid #ff001b;
}

.header__button-container {
  display: flex;
  justify-content: center;
}

.header-button {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;

  background-color: inherit;
  color: inherit;
}

.header-button:hover,
.header-button:focus {
  background-color: var(--accent-yellow);
  border: none;
  box-shadow: 0 8px 43px 0 rgba(255, 107, 1, 0.6);
}

.header-button:not(:last-child) {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 16px;
  }
}

.active {
  background-color: var(--accent-yellow);
  border: none;
  box-shadow: 0 8px 43px 0 rgba(255, 107, 1, 0.6);
}

.empty-list-text {
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
}
