.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 20px 0;
}

.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;

  font-weight: var(--primary-font-weight);
  font-size: 12px;
  line-height: 133%;
}


.pagination-current {
  background-color: var(--accent-yellow);
  color: var(--primary-white);
}