/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

:root {
  --primary-white: #ffffff;
  --primary-black: #000000;
  --accent-yellow: #ff6b08;
  --secondary-grey: #8c8c8c;
  --secondary-red: #ff001b;

  --primary-font: 'Roboto';
  --primary-font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  color: var(--primary-black);
  background: var(--primary-white);

  font-family: var(--primary-font), sans-serif;
}

.container {
  max-width: 320px;
  padding: 20px 20px 40px 20px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 60px 32px 60px 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
